.btn-footer{
    background: none;
    border: 2px solid #3993ff;
    outline: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    height: 95px;
    width: 70px;
    
}

.btn-footer-primary{
    color: #3993ff;
    background-color: white;
}

.btn-footer-primary:hover{
    background-color: hsl(200, 100%, 95%);
}

.btn-footer-primary-active{
    background-color: hsl(201, 100%, 72%);
}

.btn-footer-primary-active:hover{
    background-color: hsl(201, 100%, 72%);
}

.mr-5px{
    margin-right: 15px;
    margin-top: 20px;
}

.cards{
    margin-bottom: 10px;
    
}